Checks: >
  -*,bugprone-*,performance-*,portability-*,readability-identifier-naming,
  modernize-use-override,modernize-use-nullptr,modernize-use-using
WarningsAsErrors: ''
HeaderFilterRegex: 'firmware/.*'

